In [15]:
import requests
import pandas as pd
from datetime import datetime, timedelta
# df=pd.read_csv('/content/ind_nifty50list.csv')
df=pd.read_csv('complete.csv')
df_eq=pd.read_csv('/content/EQUITY_L (1).csv')
df_eq_500=pd.read_csv('/content/ind_nifty500list.csv')

names_to_search = [row['Symbol'] for index, row in df_eq_500.iterrows()]
names_to_search=names_to_search[:4]
names_to_search

['360ONE', '3MINDIA', 'ABB', 'ACC']

In [16]:
# -*- coding: utf-8 -*-
"""historical_data_in_simple_table_for_n_years.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1RJSU82yAjVUV06cGK7IchzBvXZ3Bk1yc
"""

import requests
import pandas as pd
from datetime import datetime

# Function to fetch intraday 1-minute data
def fetch_intraday_data(symbol):
    url = f'https://api.upstox.com/v2/historical-candle/intraday/{symbol}/1minute'
    headers = {'Accept': 'application/json'}
    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data = response.json().get('data', [])
        return pd.DataFrame(data)
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

# # Define the symbols for which you want to fetch intraday data
# symbols = ['NSE_EQ%7CINE848E01016']

# Function to fetch instrument_keys based on a list of names using boolean indexing
def get_instrument_keys(df, names):
    instrument_keys = {}

    for name in names:
        mask = df['tradingsymbol'] == name
        if mask.any():
            instrument_key = df.loc[mask, 'instrument_key'].iloc[0]
            instrument_keys[name.lower()] = instrument_key
        else:
            print(f"No instrument_key found for name: {name}")

    return instrument_keys

instrument_keys_result = get_instrument_keys(df, names_to_search)
# Dictionary to store DataFrames
dfs = {}

# Loop through each symbol and fetch intraday data
for name, instrument_key in instrument_keys_result.items():
    df_symbol = fetch_intraday_data(instrument_key)

    # Convert timestamp column to datetime format
    if 'timestamp' in df_symbol.columns:
        df_symbol['timestamp'] = pd.to_datetime(df_symbol['timestamp'])

    # Store the DataFrame in the dictionary with a name like df_reliance
    dfs[f"df_{name.lower()}"] = df_symbol

# # Access individual DataFrames using dfs dictionary
# df_nse_eq = dfs.get('df_nse_eq%7cine848e01016', pd.DataFrame())


# Function to clean the data for a given DataFrame
def clean_data(df):
    # Create an empty DataFrame with the desired column names
    columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'open interest']
    df_cleaned_data = pd.DataFrame(columns=columns)

    # Iterate through each row in the original DataFrame
    for index, row in df.iterrows():
        # Extract data from the list
        row_data = row[0] if isinstance(row[0], list) else row[0][0]  # Assuming each row contains a list or list within a list

        # Reshape the row_data if needed
        if isinstance(row_data, list) and len(row_data) == 1:
            row_data = row_data[0]

        # Create a temporary DataFrame
        temp_df = pd.DataFrame([row_data], columns=columns[:len(row_data)])

        # Append the temporary DataFrame to the cleaned DataFrame
        df_cleaned_data = pd.concat([df_cleaned_data, temp_df], ignore_index=True)

    # Convert timestamp column to datetime format
    df_cleaned_data['timestamp'] = pd.to_datetime(df_cleaned_data['timestamp'])

    return df_cleaned_data
for name, df_symbol in dfs.items():
    cleaned_df = clean_data(df_symbol)
    dfs[name] = cleaned_df

# Access and print individual cleaned DataFrames
for name, cleaned_df in dfs.items():
    print(f"Cleaned DataFrame for {name}:")
    print(cleaned_df)

# # Example usage for each DataFrame
# df_nse_eq_cleaned = clean_data(df_nse_eq)
# df_other_symbol_cleaned = clean_data(df_other_symbol)

# # Print cleaned DataFrames
# print("Cleaned DataFrame for NSE_EQ%7CINE848E01016:")
# print(df_nse_eq_cleaned)

# print("\nCleaned DataFrame for OTHER_SYMBOL:")
# print(df_other_symbol_cleaned)

Cleaned DataFrame for df_360one:
                    timestamp    open    high     low   close volume  \
0   2024-02-08 14:50:00+05:30  664.60  664.60  663.60  664.60    362
1   2024-02-08 14:49:00+05:30  664.75  664.80  664.05  664.60    201
2   2024-02-08 14:48:00+05:30  664.50  664.75  663.25  664.75    687
3   2024-02-08 14:47:00+05:30  664.50  664.50  663.95  664.45    196
4   2024-02-08 14:46:00+05:30  664.15  664.50  663.95  664.50    374
..                        ...     ...     ...     ...     ...    ...
331 2024-02-08 09:19:00+05:30  648.05  649.90  647.75  648.85   1845
332 2024-02-08 09:18:00+05:30  648.45  649.95  647.30  647.40   1624
333 2024-02-08 09:17:00+05:30  646.75  648.55  646.40  648.05   1686
334 2024-02-08 09:16:00+05:30  645.30  647.40  643.60  647.40    990
335 2024-02-08 09:15:00+05:30  643.75  648.20  643.10  645.05   3083

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
331             0
332             0
333             0
334             0
335             0

[336 rows x 7 columns]
Cleaned DataFrame for df_3mindia:
                    timestamp      open      high       low     close volume  \
0   2024-02-08 14:50:00+05:30     33100  33105.20     33051  33105.20     23
1   2024-02-08 14:49:00+05:30  33099.95  33104.55   33099.9  33099.90      6
2   2024-02-08 14:48:00+05:30  33116.35  33167.90   33053.1  33057.15     35
3   2024-02-08 14:47:00+05:30     33090  33090.00  33051.05  33068.80      8
4   2024-02-08 14:46:00+05:30  33111.05  33152.20     33100  33112.80     13
..                        ...       ...       ...       ...       ...    ...
331 2024-02-08 09:19:00+05:30     34132  34132.00  34106.35  34132.00     80
332 2024-02-08 09:18:00+05:30     34100  34150.00     34100  34150.00     44
333 2024-02-08 09:17:00+05:30     34108  34120.30   34060.7  34100.00     17
334 2024-02-08 09:16:00+05:30  34152.25  34254.75  34108.05  34150.00     85
335 2024-02-08 09:15:00+05:30  33985.05  34199.65     33985  34118.80     41

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
331             0
332             0
333             0
334             0
335             0

[336 rows x 7 columns]
Cleaned DataFrame for df_abb:
                    timestamp     open     high      low    close volume  \
0   2024-02-08 14:50:00+05:30  4460.10  4463.05     4460     4461    195
1   2024-02-08 14:49:00+05:30  4462.70  4463.10   4460.1   4460.1     89
2   2024-02-08 14:48:00+05:30  4464.35  4464.70  4460.15  4463.75    128
3   2024-02-08 14:47:00+05:30  4463.90  4466.00     4461   4464.4    276
4   2024-02-08 14:46:00+05:30  4462.25  4464.55  4460.05   4463.9     75
..                        ...      ...      ...      ...      ...    ...
331 2024-02-08 09:19:00+05:30  4574.95  4578.65     4567     4571   1667
332 2024-02-08 09:18:00+05:30  4580.00  4583.25     4570   4575.4   1925
333 2024-02-08 09:17:00+05:30  4581.65  4582.10   4571.9     4580    598
334 2024-02-08 09:16:00+05:30  4576.50  4582.30     4570  4577.55   1032
335 2024-02-08 09:15:00+05:30  4609.85  4609.90   4575.5     4581   2148

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
331             0
332             0
333             0
334             0
335             0

[336 rows x 7 columns]
Cleaned DataFrame for df_acc:
                    timestamp     open     high      low    close volume  \
0   2024-02-08 14:50:00+05:30  2508.55  2509.55  2507.15  2507.95     97
1   2024-02-08 14:49:00+05:30  2510.15  2510.90  2508.30  2509.20    151
2   2024-02-08 14:48:00+05:30  2509.00  2511.20  2508.30  2509.55   1250
3   2024-02-08 14:47:00+05:30  2505.90  2507.75  2505.80  2507.75    298
4   2024-02-08 14:46:00+05:30  2503.80  2507.00  2503.80  2505.75    119
..                        ...      ...      ...      ...      ...    ...
331 2024-02-08 09:19:00+05:30  2521.45  2521.70  2514.05  2515.05    802
332 2024-02-08 09:18:00+05:30  2521.00  2526.15  2517.75  2519.85   1196
333 2024-02-08 09:17:00+05:30  2513.95  2523.00  2507.30  2522.85   3173
334 2024-02-08 09:16:00+05:30  2514.55  2516.55  2511.10  2512.30   1754
335 2024-02-08 09:15:00+05:30  2519.90  2524.95  2510.00  2515.05    806

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
331             0
332             0
333             0
334             0
335             0

[336 rows x 7 columns]

In [17]:
import pandas as pd
from datetime import datetime

# Assuming you have already defined and cleaned your DataFrames: df_reliance_cleaned, df_tatasteel_cleaned, df_infy_cleaned

# Function to save DataFrames to Excel files in a loop
def save_all_to_excel(dfs):
    for df_name, df in dfs.items():
        # Remove timezone information from datetime columns
        df_no_timezone = df.copy()
        df_no_timezone['timestamp'] = df_no_timezone['timestamp'].dt.tz_localize(None)

        file_name = f"{df_name}_historical_1minute_intraday_data.xlsx"
        df_no_timezone.to_excel(file_name, index=False)
        print(f"DataFrame '{df_name}' successfully saved to Excel file: {file_name}")

# Save all DataFrames to individual Excel files
save_all_to_excel(dfs)

DataFrame 'df_360one' successfully saved to Excel file: df_360one_historical_1minute_intraday_data.xlsx
DataFrame 'df_3mindia' successfully saved to Excel file: df_3mindia_historical_1minute_intraday_data.xlsx
DataFrame 'df_abb' successfully saved to Excel file: df_abb_historical_1minute_intraday_data.xlsx
DataFrame 'df_acc' successfully saved to Excel file: df_acc_historical_1minute_intraday_data.xlsx